
VITE_MAPBOX_TOKEN=pk.eyJ1IjoidmFnaGVsYXBhcnRoMDUiLCJhIjoiY21tazExbmN0MDVzcDJxb2w1ZGlmbGE3ZSJ9.jtk8J0pnSDlEx9PQCpbwTA
VITE_API_URL=http://localhost:3001
# VITE_API_URL=https://your-backend.railway.app
